html, body {
    color: #f2f2f2;
    background-color: #030305;
    background-image: url(/static/images/plus2.svg);
    background-size: 6rem;
}

table th {
    background-color: #0B0B09;
}

table td,
table td:first-child {
    border-color: #0B0B09;
    background-color: #0B0B09;
}

table tr:nth-child(2n) td {
    border-color: #1B1B1B;
    background-color: #1B1B1B;
}

button,
input {
    color: #f2f2f2;
    background-color: #282E46;
    border-color: #282E46;
    border-radius: 5px;
}

button[disabled],
input[disabled] {
    background-color: #121214;
    border-color: #121214;
}

.badge.badge__moderator {
    color: #f2f2f2;
    background-color: #282E46;
}