html, body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --tableBorderColor: #dddddd;
    --tableHeadingBorderColor: #099a65;
    --tableHeadingBackgroundColor: #c63227;
    --tableAverageBackgroundColor: #ecffe7;
    --tableBackgroundColorPrimary: #ffffff;
    --tableBackgroundColorSecondary: #f2f2f2;
}

input.points {
    max-width: 4rem;
    margin-left: .5rem;
}

.page__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.message__wrapper {
    display: flex;
    justify-content: center;
}

.message__wrapper,
.table__wrapper {
    text-align: center;
    width: 100%;
}

.table__wrapper {
    display: flex;
    justify-content: center;
    max-width: 95ch;
    min-width: 75ch;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 2.5rem;
}

table {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table tr:nth-child(even) {
    background-color: var(--tableBackgroundColorSecondary);
}

table th {
    background-color: var(--tableHeadingBackgroundColor);
    color: white;
    white-space: nowrap;
    padding: 12px 24px;
    text-align: center;
}

table th:first-child {
    border-top-left-radius: 8px;
}

table th:last-child {
    border-top-right-radius: 8px;
}

table td {
    border: 1px solid var(--tableBorderColor);
    padding: 8px;
    text-align: center;
}

table td:first-child {
    white-space: nowrap;
    padding: 12px 24px;
    background: var(--tableBackgroundColorPrimary);
}

.badge {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: .2rem;
    margin-left: .5rem;
    border-radius: 3px;
}

.badge.badge__moderator {
    color: #ffffff;
    background-color: dodgerblue;
}

.slidecontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .3;
}

.slidecontainer,
.copyright {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 12px;
}

.tdpoints {
    font-weight: 600;
}

#buzzer {
    width: 100%;
    height: 26px;
}

#lock__guessing,
#unlock__guessing {
    height: 26px;
    width: 35%;
}

input {
    height: 26px;
    font-weight: 600;
}

#wfm {
    display: flex;
    align-items: center;
    pointer-events: none;
}

#wfm svg {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    margin-left: .5rem;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

/* Loading Spinner */
#html-spinner{
    width:.8rem;
    height:.8rem;
    border:0.156rem solid #603B97;
    border-top:0.156rem solid #ffffff;
    border-radius:50%;
    margin-left: .5rem;
}

#html-spinner, #svg-spinner{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

